img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height:400px;
    bottom:10px;

}

a{
  text-decoration:none;

}

.retornar{
  text-align:center;
  
  
}
input{
  width:200px;
  height:50px;
  font-size:30px;
  border-radius:50%;
  color:blue;

}


input:hover{
color:red;

}

.pisca{
  animation: blinker 1s linear infinite;
  width:100px;
  height:80px;
  
}

@keyframes blinker {
  90% {
    opacity: 0;
  }
}
.azul{
   position:relative;
   top:0px;
   float:right;
   clear:right;
   width:60px;
   height:60px;
   z-index:1;
  

}
.vermelha{
   position:absolute;
   top:10px;
   float:left;
   clear:left;
   width:60px;
   height:60px;
   z-index:1;
}

.azul:hover{
  top:800px;
  float:right;
  clear:right;
  transition:all 3s linear;
  -webkit-transition:all 3s linear;
  -moz-transition:all 3s linear;
  -o-transition:all 3s linear;

}

.vermelha:hover{
  top:800px;
  float:left;
  clear:left;
  transition:all 3s linear;
  -webkit-transition:all 3s linear;
  -moz-transition:all 3s linear;
  -o-transition:all 3s linear;

}

.vermelha1{
   position:relative;
   bottom:0px;
   float:right;
   clear:right;
   width:60px;
   height:60px;
   z-index:1;
  

}
.azul1{
   position:absolute;
   bottom:0px;
   float:left;
   clear:left;
   width:60px;
   height:60px;
   z-index:1;
}

.vermelha1:hover{
  bottom:800px;
  float:right;
  clear:right;
  transition:all 3s linear;
  -webkit-transition:all 3s linear;
  -moz-transition:all 3s linear;
  -o-transition:all 3s linear;

}

.azul1:hover{
  bottom:800px;
  float:left;
  clear:left;
  transition:all 3s linear;
  -webkit-transition:all 3s linear;
  -moz-transition:all 3s linear;
  -o-transition:all 3s linear;
